textarea {
    min-height: 400px;
}

.email {
    border-style: solid;
    margin: 8px;
}

.email:hover {
    background-color: gainsboro;
}

.email table {
    font-family: sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.email td {
    padding: 8px;
}

.new {
    font-weight: bold;
    border-width: 3px;
    background-color: white;
}

.read{
    font-weight: normal;
    border-width: 1px;
    background-color: #bfbfbf;
}
